.shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.shape-divider.top .shape-fill {
    fill: #E5E5E5;
}

.shape-divider.bottom .shape-fill {
    fill: #E5E5E5;
}

.shape-divider.top {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}